<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <script defer type='module' src="/javascripts/validarBuscadorVistaAdmi.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/admin/vistaActualizar.css">
    <link rel='stylesheet' href='/css/normalize.css' />
    <script defer src="/javascripts/formCapitulosTemporadas.js"></script>
</head>
<body id="body" class="body-edit">
  <header class="header">
    <form action=<%= `/admin/agregar-temporada/${result.id}/cadena/nueva-temporada` %> >
      <div>
         <button class="agregar-temporada">Crear nueva temporada</button>
      </div>
       
    </form>
    <div>
         <button id="eliminar-capitulo" class="eliminar-capitulo">Eliminar capitulo</button>
    </div>
    <div>
         <button id="agregar-capitulo" class="agregar-capitulo" >Agregar capitulo</button>
    </div>
  
  </header>
   
  <section class="section">
    <table class="table" id="table">
      <tr class="encabezado">
        <th>temporadas</th>
        <th>capitulos</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
       <% for (let i = 0; i < capitulos.length; i++) { %>
          <tr>
            <td class="border temporada">temporada<%= i+1 %></td>
             <% for (let j = 0; j < capitulos[i].length; j++) { %>
              <td class="border capitulo"><%= capitulos[i][j] %></td>
             <%} %> 
          </tr>
       <%} %>  
    </table>
    <div class="ocultar" id="content-form">
      <form id='formAgregarCapitulos' method="post" action=<%= `/admin/agregar-temporada/${result.id}/cadena/agregar-capitulo`%> class="form-capitulos">
        <div class="descripcion-form">
          <span>Agragar capitulo</span>
          <span class="icon-cerrar" id="icon-cerrar">x</span>
        </div>
        <div class="paddin-form">
        <input type="text" name="temporada" placeholder="temporada" disabled>
        <input type="text" name="capitulo" placeholder="capitulo">
        <div>
           <button class="btn-capitulo">Enviar</button>
        </div>
        </div>
       
       
      </form>
    </div>
       <div class="ocultar" id="content-form-eliminar-capitulo">
      <form id='formEliminarCapitulos' method="post" action=<%= `/admin/agregar-temporada/${result.id}/cadena/eliminar-capitulo`%> class="form-capitulos">
        <div class="descripcion-form red">
          <span>Eliminar capitulo</span>
          <span class="icon-cerrar" id="icon-cerrar-form-eliminar">x</span>
        </div>
        <div class="paddin-form">
        <input type="text" name="temporada" placeholder="temporada" disabled>
        <input type="text" name="capitulo" placeholder="capitulo">
        <div>
           <button class="btn-capitulo red">Enviar</button>
        </div>
        </div>
       
       
      </form>
    </div>
  </section>

  
</body>
</html>
