<!DOCTYPE html>
<html lang="en">
<head>
   
  <%- include("./templates/cabecera")%>
  <link rel="stylesheet" href="/css/header-series.css"/>
  <link rel='stylesheet' href='/iconos/play/style.css' />
  <link rel='stylesheet' href='/css/btnInstall.css' />
  <link rel="stylesheet" href="/css/vistaSeries.css"/>
  <script type="module" defer src="/javascripts/seleccionarCapitulos.js"></script>
  <script type="module" defer src="/javascripts/buscador.js"></script>
  <script type="module" defer src="/javascripts/menuDesplegable.js"></script>
  <script type="module" defer src="/javascripts/menuHamburguesa.js"></script>
  <script type="module" defer src="/javascripts/buscador.js"></script>
  <script type="module" defer src="/javascripts/validarBuscadorVistaSerie.js"></script>
  <script type="module" defer src="/javascripts/vistaSerie.js"></script>
  <link rel='stylesheet' href='/iconos/menu/style.css' />
  <link rel='stylesheet' href='/iconos/cross/style.css' />
  <link rel='stylesheet' href='/iconos/circle-right/style.css' />
  <link rel='stylesheet' href='/iconos/flecha-izq/style.css' />
  <link rel='stylesheet' href='/iconos/ctrl/style.css' />
 <link rel='stylesheet' href='/iconos/descarga/style.css' />

 <script type="module" defer src="/javascripts/btnInstallPwa.js"></script>
</head>
<body id="body">
  <header  class="header" > 
     <div class="content-tittle">
        <a href="/" id="enlace-nombre-app"><h1 class="header-tittle">KAMUAI</h1></a>
     </div>
      <div  class="form">
        <input type="text" id="buscador" class="buscador" placeholder="Buscar Serie">
         <button class="boton-buscar boton-buscador-vista-inicio" id="boton-buscador-vista-serie">
        
              Buscar 
          </button>
      </div>
  </header>
  <div class="centrar-content-video">
    <% if (typeof capituloSeleccionado == 'undefined') { %>
        <h1>no se encontraron datos</h1>

    <% } else { %>
     <div class="content-video" id="content-video">
      <video src=<%= `/series/${serie.nombreSerie}/${temporada}/${capituloSeleccionado}.mkv` %> controls></video>
      
    </div>
    <div class="content-descripcion-video">
      <h2 class="margin-top h2-title"><%=`${serie.nombreSerie}` %></h2>
      <h3 class="margin-top" id="temporada-actual"><%=temporada.replace('-',' ')%></h3>
      <div class="margin-top categorias" id="categorias">
         <% for(let i = 0; i < serie.categorias.length; i++){ %>
          <span><%=serie.categorias[i] %> / </span>
         <% } %> 

      </div>
     <div class="content-select-box" id="content-select-box">
      <div class="content-temporada-actual">
         <span id="temporadaSeleccionda">temporada 3</span>
         <span class="icono">></span>
      </div>
      <div class="content-temporada-hidden ocultar-content-temporada" id="content-temporada-hidden">
        
         <% for(let i = 0; i < obtenerTotalTemporadas.length; i++){ %>
         <!-- <span class="temporada"><%=obtenerTotalTemporadas[i] %></span> -->
  
        <a class="temporada" href=<%= `/series/${serie.nombreSerie}/${obtenerTotalTemporadas[i]}/capitulo1`%>>
                <%=obtenerTotalTemporadas[i] %>
                 </a>
         <% } %> 
      </div>
      
     </div>
    
      <div class="margin-top content-capitulos" id="content-capitulos">
        
         <% for(let i = 0; i < cantidadTotalCapitulos.length; i++){ %>
          <a class="cantidad-capitulos" href=<%= `/series/${serie.nombreSerie}/${temporada}/${cantidadTotalCapitulos[i]}` %>><%=[i + 1]  %></a>
         <% } %>  
      </div>

      <p class="margin-top descripcion-serie">
        <%= serie.descripcion %>
        
      </p>
    </div>
  </div>
 
  <div class='content-btn-install ' id='content-btn-intall'>
        <button id="install_button" class="btn-install">
            <span class="icon-download3 "></span> Instalar App
        </button>
  </div>
  <% } %>


</body>
</html>
